[Desktop Entry]
Name=OpenArgs
Comment=Firmador PJRN.
GenericName=Open Args
Exec=/home/jvillanueva/bin/OpenArgs.sh %F
Icon=atom
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=application/x-sign;
StartupWMClass=atom
